.article {
  margin-bottom: 70px;
  h1 {
    margin-top: 70px;
    margin-bottom: 0px;
  }

  .date {
    margin: 0;
  }

  .article-content {
    margin-top: 50px;
  }
}

.prevNext {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a,
  a:visited {
    text-decoration: none;
  }

  a.active,
  a.focus {
    text-decoration: underline;
  }

  > div:first-child {
    margin-right: 10px;
  }

  > div:first-child + div {
    margin-left: 10px;
  }
}
