.banner {
  height: 626px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  position: relative;
  border-radius: 10px;
  background-color: black;

  .banner-bg {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.5 !important;

    &::before {
      border-radius: 10px;
    }
  }

  span {
    position: absolute;
    right: 200px;
    top: 145px;
    width: 536px;
    color: white;
  }
  a {
    color: #2cf9bf;
  }
}
