.banner {
  height: 626px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  position: relative;
  border-radius: 10px;
  background-color: black;
  overflow: hidden;
  transition: 0.5s;

  .banner-bg {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0.4 !important;

    @media only screen and (max-width: 1330px) {
      border-radius: 0px;
    }

    @media only screen and (max-width: 800px) {
      border-radius: 0px;
    }

    &::before,
    &::after {
      border-radius: 10px;
      transition: 0.5s;

      @media only screen and (max-width: 1330px) {
        border-radius: 0px;
      }

      @media only screen and (max-width: 800px) {
        background-position: -100px !important;
      }
    }
  }

  span {
    position: absolute;
    right: 200px;
    top: 145px;
    width: 536px;
    color: white;

    ul {
      list-style: square;
      li {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 172.3%;
      }
    }

    @media only screen and (max-width: 970px) {
      border-radius: 0px;
      margin: 0 auto;
      right: 0;
      left: 0;
      padding: 0 15px;

      &::before {
        border-radius: 0px;
      }
    }

    @media only screen and (max-width: 580px) {
      border-radius: 0px;
      margin: 0 auto;
      right: 0;
      left: 0;
      width: 80%;
      top: 80px;

      &::before {
        border-radius: 0px;
      }
    }
  }

  a {
    color: #2cf9bf;
  }

  @media only screen and (max-width: 1330px) {
    border-radius: 0px;
  }
}
