.card {
  max-width: 394px;
  height: 402px;
  padding: 65px 45px 38px 45px;
  position: relative;
  border-radius: 10px;
  color: white;
  z-index: 1;
  background-color: black;
  overflow: hidden;

  a {
    color: #2cf9bf;
  }

  .card-bg {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 0;
    opacity: 0.4 !important;
  }

  .card-content {
    position: relative;
    line-height: 140%;
    font-weight: bold;

    h3 {
      a {
        font-size: 24px;
        margin-bottom: 5px;
        line-height: 140%;
      }
    }

    .date {
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: #d1d1d1;
    }

    .teacher {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;

      > div:first-child {
        border-radius: 100%;
        width: 42px;
        height: 42px;
        margin-right: 10px;
      }
    }
  }
}
