footer {
  padding-top: 45px;
  padding-bottom: 60px;
  h1 {
    display: inline-flex;
    margin: 0;
    border-bottom: 4px solid #2ab38c;

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
    }
  }
}
