header {
  margin: 0 auto;
  max-width: 1310px;
  padding: 1.85rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    display: inline-flex;
    margin: 0;
    border-bottom: 4px solid #2ab38c;

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
    }
  }

  div {
    display: inline-flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;

    span.dot {
      background-color: #2ab38c;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      margin: 3px 7px 7px 7px;
      box-shadow: -2px 1px 5px 0px rgba(176, 176, 176, 1);
    }
  }
}
