header {
  padding: 1.85rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  @media only screen and (max-width: 630px) {
    display: block;
  }

  h1 {
    display: inline-flex;
    margin: 0;
    border-bottom: 4px solid #00c78f;

    @media only screen and (max-width: 630px) {
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
    }
  }

  div {
    display: inline-flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    transition: 0.5s;

    span.dot {
      background-color: #00c78f;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      margin: 3px 7px 7px 7px;
      // box-shadow: -2px 1px 5px 0px rgba(176, 176, 176, 1);
    }
    @media only screen and (max-width: 960px) {
      display: none;
    }
  }
  @media only screen and (max-width: 1330px) {
    padding: 1.85rem 1.5rem;
  }
}
