nav {
  display: inline-flex;

  ul {
    list-style: none;
    display: flex;
    margin: 0;

    li {
      margin-right: 50px;

      &:last-child {
        margin-right: 0px;
      }

      a {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #2ab38c;
        padding-bottom: 5px;

        &:hover {
          border-bottom: 3px solid black;
        }

        &.active {
          border-bottom: 3px solid black;
          padding-bottom: 5px;
        }
      }
    }
  }
}
