.sidebar {
  text-align: center;
  h1 {
    display: inline-flex !important;
    a {
      margin-bottom: 0;
    }
  }
  .social {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #525252;
    margin-top: 20px;
  }
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.9) !important;
}

.bm-menu-wrap {
  .bm-menu {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  h1 {
    display: inline-flex;
    margin: 0;
    border-bottom: 4px solid #00c78f;
    margin-bottom: 55px;
    outline: none;

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
      outline: none;
    }
  }

  background: rgba(255, 255, 255, 1);
  padding: 35px 40px;
  a {
    margin-bottom: 35px;
    font-weight: bold;
  }
}

.bm-burger-button {
  display: none;
  position: absolute;
  top: 38px;
  right: 30px;
  width: 28px;
  height: 22px;

  .bm-burger-bars {
    background-color: black;
  }
  @media only screen and (max-width: 630px) {
    display: none;
  }
}

.bm-item-list {
  a {
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #00c78f;
    font-size: 1.1rem;
  }
}
